<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/AnalyzeDesign">Brian Kay</a>. A web developer.

  <p>
    If you want to learn how to code - start <a target="_blank" href="http://collection.sciencemuseum.org.uk/objects/co62245/babbages-analytical-engine-1834-1871-trial-model-analytical-engines"> here</a>.
  </p>
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'Ada_Byron_daguerreotype_by_Antoine_Claudet_1843_or_1850.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Ada Lovelace</h2>
      <br />
      <p>
        Augusta Ada King, Countess of Lovelace (née Byron; 10 December 1815 – 27 November 1852) was an English mathematician and writer, chiefly known for her work on Charles Babbage's proposed mechanical general-purpose computer, the Analytical Engine. She was the first to recognise that the machine had applications beyond pure calculation, and published the first algorithm intended to be carried out by such a machine. As a result, she is sometimes regarded as the first to recognise the full potential of a "computing machine" and one of the first computer programmers.
      </p>
      <cite>
        taken from:
        <p>
          Wikipedia contributors. (2019, May 16). Ada Lovelace. In Wikipedia, The Free Encyclopedia. Retrieved 19:08, May 28, 2019, from <a target="_blank" href="https://en.wikipedia.org/w/index.php?title=Ada_Lovelace&oldid=897378212">https://en.wikipedia.org/w/index.php?title=Ada_Lovelace&oldid=897378212</a>
        </p>
      </cite>
    </div>
  </div>
  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'Charles_Babbage_-_1860.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Charles Babbage</h2>
      <br />
      <p>
        Charles Babbage was an English polymath. A mathematician, philosopher, inventor and mechanical engineer, Babbage originated the concept of a digital programmable computer.Babbage is credited with inventing the first mechanical computer that eventually led to more complex electronic designs, though all the essential ideas of modern computers are to be found in Babbage's analytical engine. His varied work in other fields has led him to be described as "pre-eminent" among the many polymaths of his century.
      </p>
      <cite>
        taken from:
        <p>
          Wikipedia contributors. (2019, May 24). Charles Babbage. In Wikipedia, The Free Encyclopedia. Retrieved 19:11, May 28, 2019, from <a target="_blank" href="https://en.wikipedia.org/w/index.php?title=Charles_Babbage&oldid=898561619">https://en.wikipedia.org/w/index.php?title=Charles_Babbage&oldid=898561619</a>
        </p>
      </cite>
    </div>
  </div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
